body {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    p {
        font-style: italic;
    }
    h1 {
        color: aqua;
    }
    section{
        background-color: rgb(21, 171, 159);    
        padding-top: 80px;
        padding-bottom: 80px;

    }
}