body {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    p {
        font-style: italic;
    }
    h1 {
        color: rgb(223, 223, 223);
    }
    section{
        background-color: rgb(247, 251, 27);    
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }
  
    
    .chamada-texto {
        margin-right: 5%;
    }
}